In [66]:
import pandas as pd
from pathlib import Path
import os

In [67]:
# Directory containing all need csv files
directory = '/Users/mac/CLASS/Project-1/genre_movies'

In [68]:
# A list to contain all the dataframes 
dfs = []

In [69]:


# Loop through all the files in directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        
        # Read csv file into a DataFrame
        df = pd.read_csv(filepath)
        
        # Append DF to list
        dfs.append(df)

# Concatenate all DFs into a single DF
IMDb_Movie_Dataset_df = pd.concat(dfs, ignore_index=True)

# Print combined DataFrame
IMDb_Movie_Dataset_df

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,...,votes,gross(in $),name,released,score,writer,country,budget,gross,company
0,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt11564570,Glass Onion,2022,PG-13,139 min,"Comedy, Crime, Drama",7.2,Famed Southern detective Benoit Blanc travels ...,Rian Johnson,/name/nm0426059/,...,333315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt10365998,Infinity Pool,2023,R,117 min,"Crime, Horror, Mystery",6.5,James and Em Foster are enjoying an all-inclus...,Brandon Cronenberg,/name/nm0188722/,...,6955.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt14138650,The Pale Blue Eye,2022,R,128 min,"Crime, Horror, Mystery",6.6,A world-weary detective is hired to investigat...,Scott Cooper,/name/nm0178376/,...,85087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt15789492,Infiesto,2023,TV-MA,96 min,"Crime, Drama, Thriller",5.5,Two detectives are called to a small mining to...,Patxi Amezcua,/name/nm0025538/,...,2081.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364127,tt27036537,The Beauty of a Woman,NaN,NaN,NaN,Biography,NaN,"In 1966 France, actress Audrey Hepburn navigat...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364128,tt27047718,Armandinho Muito Mais Que O Azul De Zanzibar,2021,NaN,90 min,Biography,NaN,Add a Plot,Daniel Talento,/name/nm2017349/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364129,tt27050530,Baraa,NaN,NaN,NaN,"Biography, Comedy, Drama",NaN,Baraa is a half-Bahraini half-Saudi man who ha...,Loay cielo Tattan,/name/nm14517689/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364130,tt27052307,Maserati: a Racing Life,NaN,NaN,NaN,Biography,NaN,Explores the family that is responsible for th...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364131,tt27053625,Anwar,NaN,NaN,NaN,Biography,NaN,"The life of the Bahraini actor ""Anwar Ahmed"" i...",Loay cielo Tattan,/name/nm14517689/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
#Data Inspection
IMDb_Movie_Dataset_df.info()
IMDb_Movie_Dataset_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364132 entries, 0 to 364131
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_id     356464 non-null  object
 1   movie_name   356460 non-null  object
 2   year         312452 non-null  object
 3   certificate  101166 non-null  object
 4   runtime      258949 non-null  object
 5   genre        364132 non-null  object
 6   rating       230795 non-null  object
 7   description  356464 non-null  object
 8   director     336503 non-null  object
 9   director_id  328835 non-null  object
 10  star         306062 non-null  object
 11  star_id      304887 non-null  object
 12  votes        230873 non-null  float64
 13  gross(in $)  25799 non-null   float64
 14  name         7668 non-null    object
 15  released     7666 non-null    object
 16  score        7665 non-null    float64
 17  writer       7665 non-null    object
 18  country      7665 non-null    object
 19  budget       5497 non-null    float64
 20  gross        7479 non-null    float64
 21  company      7651 non-null    object
dtypes: float64(5), object(17)
memory usage: 61.1+ MB

              votes   gross(in $)        score        budget         gross
count  2.308730e+05  2.579900e+04  7665.000000  5.497000e+03  7.479000e+03
mean   1.321355e+04  3.094978e+07     6.390411  3.558988e+07  7.850054e+07
std    7.016104e+04  6.605684e+07     0.968842  4.145730e+07  1.657251e+08
min    5.000000e+00  1.000000e+00     1.900000  3.000000e+03  3.090000e+02
25%    4.000000e+01  3.430230e+05     5.800000  1.000000e+07  4.532056e+06
50%    2.130000e+02  5.430822e+06     6.500000  2.050000e+07  2.020576e+07
75%    1.590000e+03  3.194575e+07     7.100000  4.500000e+07  7.601669e+07
max    2.675531e+06  9.366622e+08     9.300000  3.560000e+08  2.847246e+09

In [71]:


# Check columns
IMDb_Movie_Dataset_df.columns

Index(['movie_id', 'movie_name', 'year', 'certificate', 'runtime', 'genre',
       'rating', 'description', 'director', 'director_id', 'star', 'star_id',
       'votes', 'gross(in $)', 'name', 'released', 'score', 'writer',
       'country', 'budget', 'gross', 'company'],
      dtype='object')

In [72]:
# Check for missing values
missing_values = IMDb_Movie_Dataset_df.isnull().sum()
missing_values

movie_id         7668
movie_name       7672
year            51680
certificate    262966
runtime        105183
genre               0
rating         133337
description      7668
director        27629
director_id     35297
star            58070
star_id         59245
votes          133259
gross(in $)    338333
name           356464
released       356466
score          356467
writer         356467
country        356467
budget         358635
gross          356653
company        356481
dtype: int64

In [73]:
#Fill in mixing data with 0


IMDb_Movie_Dataset_df_clean =IMDb_Movie_Dataset_df.fillna(0)

IMDb_Movie_Dataset_df_clean

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,...,votes,gross(in $),name,released,score,writer,country,budget,gross,company
0,tt5433140,Fast X,2023,0,0,"Action, Crime, Mystery",0,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
1,tt11564570,Glass Onion,2022,PG-13,139 min,"Comedy, Crime, Drama",7.2,Famed Southern detective Benoit Blanc travels ...,Rian Johnson,/name/nm0426059/,...,333315.0,0.0,0,0,0.0,0,0,0.0,0.0,0
2,tt10365998,Infinity Pool,2023,R,117 min,"Crime, Horror, Mystery",6.5,James and Em Foster are enjoying an all-inclus...,Brandon Cronenberg,/name/nm0188722/,...,6955.0,0.0,0,0,0.0,0,0,0.0,0.0,0
3,tt14138650,The Pale Blue Eye,2022,R,128 min,"Crime, Horror, Mystery",6.6,A world-weary detective is hired to investigat...,Scott Cooper,/name/nm0178376/,...,85087.0,0.0,0,0,0.0,0,0,0.0,0.0,0
4,tt15789492,Infiesto,2023,TV-MA,96 min,"Crime, Drama, Thriller",5.5,Two detectives are called to a small mining to...,Patxi Amezcua,/name/nm0025538/,...,2081.0,0.0,0,0,0.0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364127,tt27036537,The Beauty of a Woman,0,0,0,Biography,0,"In 1966 France, actress Audrey Hepburn navigat...",0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
364128,tt27047718,Armandinho Muito Mais Que O Azul De Zanzibar,2021,0,90 min,Biography,0,Add a Plot,Daniel Talento,/name/nm2017349/,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
364129,tt27050530,Baraa,0,0,0,"Biography, Comedy, Drama",0,Baraa is a half-Bahraini half-Saudi man who ha...,Loay cielo Tattan,/name/nm14517689/,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
364130,tt27052307,Maserati: a Racing Life,0,0,0,Biography,0,Explores the family that is responsible for th...,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
364131,tt27053625,Anwar,0,0,0,Biography,0,"The life of the Bahraini actor ""Anwar Ahmed"" i...",Loay cielo Tattan,/name/nm14517689/,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0

In [74]:
#Convert year to numeric
IMDb_Movie_Dataset_df_clean['year'] = pd.to_numeric(IMDb_Movie_Dataset_df_clean['year'], errors='coerce')

# Set year as index and put in ascending order
IMDb_Movie_Dataset_df_clean = IMDb_Movie_Dataset_df_clean.set_index('year').sort_index(ascending=True)
IMDb_Movie_Dataset_df_clean

,movie_id,movie_name,certificate,runtime,genre,rating,description,director,director_id,star,...,votes,gross(in $),name,released,score,writer,country,budget,gross,company
year,,,,,,,,,,,,,,,,,,,,,
0.0,tt12722746,Untitled Bill Sargent Project,0,0,"Biography, Comedy, Drama",0,A biopic displaying the early and late years o...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt12691722,Cody - The Stunning Enterprises of Buffalo Bill,0,0,Biography,0,William Cody scores a record 4653 buffalo kill...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt6841826,We'll Fix It In Post,0,0,"Biography, Comedy",0,When the opportunity to cash in on a long forg...,Art Hall,/name/nm1143378/,"Art Hall, \nMike Barroga, \nChris Walls",...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt4968112,Whitney 64,0,0,Biography,0,The story of an actor overcoming the odds to r...,"Michael Cutt, \nDon Barnhart, \nKristofor Swan...",/name/nm0193991/,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt5365032,Ambulation Nation I: The Tower,0,0,Biography,0,Evangeline is a grad student in the Ivory Towe...,Meredith Darling,/name/nm0201390/,Meredith Darling,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,tt11848304,Madeleine,0,0,"Biography, Drama",0,The movie about the incredible and daring life...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt19782178,Human Nature,0,0,"Biography, Drama",0,A man journeys to the end of of the world in s...,Cullen McFater,/name/nm9391578/,Cullen McFater,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt10919370,Bartali,0,0,Biography,0,Framed against WW2 and the rise of Mussolini a...,Jonathan Newman,/name/nm0628146/,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt7877282,Intrepid,0,0,Biography,0,INTREPID tells the remarkable story of a woman...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt27031601,The Mechanic,0,0,Biography,0,The life story of Tony DeRisio who found a way...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0

In [75]:
IMDb_Movie_Dataset_df_clean = IMDb_Movie_Dataset_df_clean.rename(columns= {
    'movie_name': 'title', 
    'gross(in $)': 'gross',
    'certificate': 'license'


})

IMDb_Movie_Dataset_df_clean

,movie_id,title,license,runtime,genre,rating,description,director,director_id,star,...,votes,gross,name,released,score,writer,country,budget,gross,company
year,,,,,,,,,,,,,,,,,,,,,
0.0,tt12722746,Untitled Bill Sargent Project,0,0,"Biography, Comedy, Drama",0,A biopic displaying the early and late years o...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt12691722,Cody - The Stunning Enterprises of Buffalo Bill,0,0,Biography,0,William Cody scores a record 4653 buffalo kill...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt6841826,We'll Fix It In Post,0,0,"Biography, Comedy",0,When the opportunity to cash in on a long forg...,Art Hall,/name/nm1143378/,"Art Hall, \nMike Barroga, \nChris Walls",...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt4968112,Whitney 64,0,0,Biography,0,The story of an actor overcoming the odds to r...,"Michael Cutt, \nDon Barnhart, \nKristofor Swan...",/name/nm0193991/,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
0.0,tt5365032,Ambulation Nation I: The Tower,0,0,Biography,0,Evangeline is a grad student in the Ivory Towe...,Meredith Darling,/name/nm0201390/,Meredith Darling,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,tt11848304,Madeleine,0,0,"Biography, Drama",0,The movie about the incredible and daring life...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt19782178,Human Nature,0,0,"Biography, Drama",0,A man journeys to the end of of the world in s...,Cullen McFater,/name/nm9391578/,Cullen McFater,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt10919370,Bartali,0,0,Biography,0,Framed against WW2 and the rise of Mussolini a...,Jonathan Newman,/name/nm0628146/,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt7877282,Intrepid,0,0,Biography,0,INTREPID tells the remarkable story of a woman...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0
NaN,tt27031601,The Mechanic,0,0,Biography,0,The life story of Tony DeRisio who found a way...,0,0,0,...,0.0,0.0,0,0,0.0,0,0,0.0,0.0,0

In [76]:
# Specify columns to drop as a list of column names
columns_to_drop = ['movie_id', 'director_id', 'star_id', 'description', 'votes','score','country']

# Drop specified columns from IMDb_Movie_Dataset_df
IMDb_Movie_Dataset_df_clean = IMDb_Movie_Dataset_df_clean.drop(columns=columns_to_drop)

# Print new set of columns
IMDb_Movie_Dataset_df_clean

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
0.0,Untitled Bill Sargent Project,0,0,"Biography, Comedy, Drama",0,0,0,0.0,0,0,0,0.0,0.0,0
0.0,Cody - The Stunning Enterprises of Buffalo Bill,0,0,Biography,0,0,0,0.0,0,0,0,0.0,0.0,0
0.0,We'll Fix It In Post,0,0,"Biography, Comedy",0,Art Hall,"Art Hall, \nMike Barroga, \nChris Walls",0.0,0,0,0,0.0,0.0,0
0.0,Whitney 64,0,0,Biography,0,"Michael Cutt, \nDon Barnhart, \nKristofor Swan...",0,0.0,0,0,0,0.0,0.0,0
0.0,Ambulation Nation I: The Tower,0,0,Biography,0,Meredith Darling,Meredith Darling,0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Madeleine,0,0,"Biography, Drama",0,0,0,0.0,0,0,0,0.0,0.0,0
NaN,Human Nature,0,0,"Biography, Drama",0,Cullen McFater,Cullen McFater,0.0,0,0,0,0.0,0.0,0
NaN,Bartali,0,0,Biography,0,Jonathan Newman,0,0.0,0,0,0,0.0,0.0,0
NaN,Intrepid,0,0,Biography,0,0,0,0.0,0,0,0,0.0,0.0,0
NaN,The Mechanic,0,0,Biography,0,0,0,0.0,0,0,0,0.0,0.0,0

In [77]:
# data types 

IMDb_Movie_Dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364132 entries, 0 to 364131
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_id     356464 non-null  object
 1   movie_name   356460 non-null  object
 2   year         312452 non-null  object
 3   certificate  101166 non-null  object
 4   runtime      258949 non-null  object
 5   genre        364132 non-null  object
 6   rating       230795 non-null  object
 7   description  356464 non-null  object
 8   director     336503 non-null  object
 9   director_id  328835 non-null  object
 10  star         306062 non-null  object
 11  star_id      304887 non-null  object
 12  votes        230873 non-null  float64
 13  gross(in $)  25799 non-null   float64
 14  name         7668 non-null    object
 15  released     7666 non-null    object
 16  score        7665 non-null    float64
 17  writer       7665 non-null    object
 18  country      7665 non-null    object
 19  budget       5497 non-null    float64
 20  gross        7479 non-null    float64
 21  company      7651 non-null    object
dtypes: float64(5), object(17)
memory usage: 61.1+ MB

In [78]:
#Convert data to the needed data types

IMDb_Movie_Dataset_df_clean['rating']= pd.to_numeric(IMDb_Movie_Dataset_df_clean['rating'], errors='coerce')
IMDb_Movie_Dataset_df_clean

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
0.0,Untitled Bill Sargent Project,0,0,"Biography, Comedy, Drama",0.0,0,0,0.0,0,0,0,0.0,0.0,0
0.0,Cody - The Stunning Enterprises of Buffalo Bill,0,0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0
0.0,We'll Fix It In Post,0,0,"Biography, Comedy",0.0,Art Hall,"Art Hall, \nMike Barroga, \nChris Walls",0.0,0,0,0,0.0,0.0,0
0.0,Whitney 64,0,0,Biography,0.0,"Michael Cutt, \nDon Barnhart, \nKristofor Swan...",0,0.0,0,0,0,0.0,0.0,0
0.0,Ambulation Nation I: The Tower,0,0,Biography,0.0,Meredith Darling,Meredith Darling,0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Madeleine,0,0,"Biography, Drama",0.0,0,0,0.0,0,0,0,0.0,0.0,0
NaN,Human Nature,0,0,"Biography, Drama",0.0,Cullen McFater,Cullen McFater,0.0,0,0,0,0.0,0.0,0
NaN,Bartali,0,0,Biography,0.0,Jonathan Newman,0,0.0,0,0,0,0.0,0.0,0
NaN,Intrepid,0,0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0
NaN,The Mechanic,0,0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0

In [79]:

# Convert 'runtime' column to numeric
IMDb_Movie_Dataset_df_clean['runtime'] = pd.to_numeric(IMDb_Movie_Dataset_df_clean['runtime'], errors='coerce')


# Print or use IMDb_Movie_Dataset_df as needed
IMDb_Movie_Dataset_df_clean

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
0.0,Untitled Bill Sargent Project,0,0.0,"Biography, Comedy, Drama",0.0,0,0,0.0,0,0,0,0.0,0.0,0
0.0,Cody - The Stunning Enterprises of Buffalo Bill,0,0.0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0
0.0,We'll Fix It In Post,0,0.0,"Biography, Comedy",0.0,Art Hall,"Art Hall, \nMike Barroga, \nChris Walls",0.0,0,0,0,0.0,0.0,0
0.0,Whitney 64,0,0.0,Biography,0.0,"Michael Cutt, \nDon Barnhart, \nKristofor Swan...",0,0.0,0,0,0,0.0,0.0,0
0.0,Ambulation Nation I: The Tower,0,0.0,Biography,0.0,Meredith Darling,Meredith Darling,0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Madeleine,0,0.0,"Biography, Drama",0.0,0,0,0.0,0,0,0,0.0,0.0,0
NaN,Human Nature,0,0.0,"Biography, Drama",0.0,Cullen McFater,Cullen McFater,0.0,0,0,0,0.0,0.0,0
NaN,Bartali,0,0.0,Biography,0.0,Jonathan Newman,0,0.0,0,0,0,0.0,0.0,0
NaN,Intrepid,0,0.0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0
NaN,The Mechanic,0,0.0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0

In [81]:

filtered_data_90_95 = IMDb_Movie_Dataset_df_clean.loc[1990:1995]
filtered_data_90_95

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
1990.0,Casanova,0,NaN,"Comedy, Crime",4.6,Morten Lorentzen,"Mek Pek, \nAllan Olsen, \nPaul Hagen, \nTrine ...",0.0,0,0,0,0.0,0.0,0
1990.0,Daniel Lanois: Meet the Maker,0,NaN,"Biography, Music",0.0,Scott E. Moore,"Malcolm Burn, \nWillie Green, \nTony Hall, \nD...",0.0,0,0,0,0.0,0.0,0
1990.0,Abschiedsdisco,0,NaN,"Drama, Family",6.2,Rolf Losansky,"Holger Kubisch, \nJaecki Schwarz, \nHorst Schu...",0.0,0,0,0,0.0,0.0,0
1990.0,Chinatown Connection,0,0.0,"Action, Comedy, Crime",4.8,Jean-Paul Ouellette,"Yung Henry Yu, \nLee Majors II, \nPat McCormic...",0.0,0,0,0,0.0,0.0,0
1990.0,Idealnoe prestuplenie,0,NaN,"Mystery, Sci-Fi",6.1,Igor Voznesensky,"Remigijus Sabulis, \nElena Proklova, \nRomuald...",0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995.0,Alfred,0,NaN,"Biography, Drama",4.7,Vilgot Sjöman,"Sven Wollter, \nRita Russek, \nJudit Danyi, \n...",0.0,0,0,0,0.0,0.0,0
1995.0,It Takes Two,PG,NaN,"Comedy, Family, Romance",5.9,Andy Tennant,"Kirstie Alley, \nSteve Guttenberg, \nMary-Kate...",19474589.0,0,0,0,0.0,0.0,0
1995.0,Heavyweights,PG,NaN,"Comedy, Drama, Family",6.6,Steven Brill,"Tom McGowan, \nAaron Schwartz, \nBen Stiller, ...",17689177.0,0,0,0,0.0,0.0,0
1995.0,Toy Story,G,NaN,"Animation, Adventure, Comedy",8.3,John Lasseter,"Tom Hanks, \nTim Allen, \nDon Rickles, \nJim V...",191796233.0,0,0,0,0.0,0.0,0
1995.0,Mighty Morphin Power Rangers,PG,NaN,"Action, Adventure, Family",5.2,Bryan Spicer,"Karan Ashley, \nJohnny Yong Bosch, \nSteve Car...",38187431.0,0,0,0,0.0,0.0,0

In [82]:
filtered_data_95_00 = IMDb_Movie_Dataset_df_clean.loc[1995:2000]
filtered_data_95_00

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
1995.0,Amigos hasta la muerte,0,NaN,"Action, Crime, Drama",0.0,Agustín Bernal,"Fernando Alfaro, \nFernando Almada, \nJorge Al...",0.0,0,0,0,0.0,0.0,0
1995.0,Angel of Passion,R,NaN,Fantasy,4.4,Jason Holt,"Lisa Petruno, \nDouglas Michael, \nMark Dutt, ...",0.0,0,0,0,0.0,0.0,0
1995.0,Ragazzi della notte,0,NaN,"Comedy, Romance",3.4,Jerry Calà,"Jerry Calà, \nGabriele Girelli, \nFrancesca Re...",0.0,0,0,0,0.0,0.0,0
1995.0,Crayon Shin-chan: Unkokusai no Yabou,0,NaN,"Animation, Action, Adventure",6.6,Mitsuru Hongô,"Akiko Yajima, \nMiki Narahashi, \nKeiji Fujiwa...",0.0,0,0,0,0.0,0.0,0
1995.0,Lupin III: Farewell to Nostradamus,TV-PG,NaN,"Animation, Action, Adventure",6.9,"Takeshi Shirato, \nNobuo Tomizawa, \nShun'ya Itô","Kan'ichi Kurita, \nKiyoshi Kobayashi, \nMakio ...",0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2000.0,Barrio sin ley,0,NaN,Action,0.0,Arturo Velazco,"Luis Gatica, \nEleazar Garcia Jr., \nAlfredo G...",0.0,0,0,0,0.0,0.0,0
2000.0,X-Men,PG-13,NaN,"Action, Adventure, Sci-Fi",7.3,Bryan Singer,"Patrick Stewart, \nHugh Jackman, \nIan McKelle...",157299717.0,0,0,0,0.0,0.0,0
2000.0,Things You Can Tell Just by Looking at Her,PG-13,NaN,"Drama, Romance",6.5,Rodrigo García,"Glenn Close, \nCameron Diaz, \nCalista Flockha...",0.0,0,0,0,0.0,0.0,0
2000.0,The Boy Who Saw the Wind,0,NaN,"Animation, Action, Adventure",6.1,Kazuki Ômori,"Yumi Adachi, \nAki Maeda, \nMari Natsuki, \nTa...",0.0,0,0,0,0.0,0.0,0
2000.0,Xscape,0,NaN,"Drama, Mystery, Sci-Fi",6.3,Aaron Michael Lacey,"Emile Piscitelli, \nAna Yudiskas, \nMarkus Ale...",0.0,0,0,0,0.0,0.0,0

In [83]:
filtered_data_00_05 = IMDb_Movie_Dataset_df_clean.loc[2000:2005]
filtered_data_00_05

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
2000.0,Ultraman Tiga: The Final Odyssey,0,NaN,"Action, Adventure, Fantasy",6.6,"Hiroshi Nagano, \nTakami Yoshimoto, \nMio Taka...",0,0.0,0,0,0,0.0,0.0,0
2000.0,The Flintstones in Viva Rock Vegas,PG,NaN,"Comedy, Family, Romance",3.7,Brian Levant,"Mark Addy, \nStephen Baldwin, \nKristen Johnst...",35268275.0,0,0,0,0.0,0.0,0
2000.0,"Minsan, minahal kita",TV-PG,NaN,"Drama, Romance",8.1,Olivia M. Lamasan,"Sharon Cuneta, \nRichard Gomez, \nEdu Manzano,...",0.0,0,0,0,0.0,0.0,0
2000.0,The Farewell,0,NaN,"Biography, Comedy, Drama",6.2,Jan Schütte,"Josef Bierbichler, \nMonica Bleibtreu, \nJeane...",10952.0,0,0,0,0.0,0.0,0
2000.0,Aquarius,0,0.0,"Action, Sci-Fi",6.6,Kory Juul,"Jesse Rider, \nMelinda Fausch, \nJeremy Orebau...",0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005.0,Koi Mere Dil Mein Hai,0,NaN,"Drama, Romance",4.9,Deepak Ramsay,"Dia Mirza, \nSadashiv Amrapurkar, \nRaqesh Bap...",0.0,0,0,0,0.0,0.0,0
2005.0,Aliens Gone Wild,0,0.0,"Comedy, Sci-Fi",2.6,"Albert Band, \nCharles Band, \nDanny Draven, \...",0,0.0,0,0,0,0.0,0.0,0
2005.0,Animal,Not Rated,NaN,"Sci-Fi, Thriller",4.8,Rose Bosch,"Andreas Wilson, \nEmma Griffiths Malin, \nDiog...",0.0,0,0,0,0.0,0.0,0
2005.0,Rog,0,NaN,"Mystery, Romance, Thriller",5.2,Himanshu Brahmbhatt,"Irrfan Khan, \nIlene Hamann, \nHimanshu Malik,...",0.0,0,0,0,0.0,0.0,0
2005.0,The Method,0,NaN,"Drama, Thriller",7.1,Marcelo Piñeyro,"Eduardo Noriega, \nNajwa Nimri, \nEduard Ferná...",5757.0,0,0,0,0.0,0.0,0

In [84]:
filtered_data_05_10 = IMDb_Movie_Dataset_df_clean.loc[2005:2010]
filtered_data_05_10

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
2005.0,Dummy,0,NaN,"Adventure, Comedy, Thriller",5.5,Matthew Graves,"Jeff Bryant, \nAndrew Wheeler, \nMelissa Grave...",0.0,0,0,0,0.0,0.0,0
2005.0,Ordinary Man,0,NaN,Thriller,6.3,Vincent Lannoo,"Carlo Ferrante, \nChristine Grulois, \nStefan ...",0.0,0,0,0,0.0,0.0,0
2005.0,Deep Rescue,0,0.0,"Drama, Sci-Fi, Thriller",3.2,Chris Bremble,"Tamara Davies, \nDale Midkiff, \nStan Kirsch, ...",0.0,0,0,0,0.0,0.0,0
2005.0,Who Killed John O'Neill?,0,NaN,"Crime, Mystery, Thriller",8.4,Ty Rauber,Ryan Thurston,0.0,0,0,0,0.0,0.0,0
2005.0,Point of Origin,0,NaN,"Action, Adventure, Drama",0.0,"Luis Antonio Rodriguez, \nHumberto Bocanegra","Moses Archer, \nElvira Bocanegra, \nEvaristo B...",0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010.0,Scratching the Surface,0,NaN,"Drama, Sport",8.0,0,0,0.0,0,0,0,0.0,0.0,0
2010.0,Malik Ek,0,NaN,"Biography, Drama, History",7.5,Deepak Balraj Vij,"Akanksha, \nRana Jung Bahadur, \nSudesh Berry,...",0.0,0,0,0,0.0,0.0,0
2010.0,CO2,Not Rated,NaN,"Action, Adventure, Drama",3.0,John Depew,"Jared Starr, \nGrace Young, \nKate Bailey, \nA...",0.0,0,0,0,0.0,0.0,0
2010.0,Wanderlost,Not Rated,NaN,"Adventure, Fantasy, Horror",5.2,David Kabler,"Mitch Rumfelt, \nAubrey Adams, \nImhotep Dlano...",0.0,0,0,0,0.0,0.0,0
2010.0,Space Pirate Captain Harlock,0,NaN,"Animation, Adventure, Fantasy",7.0,William Winckler,"Robert Axelrod, \nJason Barker, \nG. Larry But...",0.0,0,0,0,0.0,0.0,0

In [85]:
filtered_data_10_15 = IMDb_Movie_Dataset_df_clean.loc[2010:2015]
filtered_data_10_15

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
2010.0,Swallowed Whole,Not Rated,NaN,"Crime, Drama, Thriller",0.0,Jessica K. Bruhn,"Shannen Melissa, \nJimmy Blais, \nKatie Cavana...",0.0,0,0,0,0.0,0.0,0
2010.0,Driver's Ed Mutiny,Not Rated,NaN,"Adventure, Comedy, Family",8.2,Brad Hansen,"Hunter Johnson, \nJillian Riley, \nKyle Miller...",0.0,0,0,0,0.0,0.0,0
2010.0,Razorblade City,Not Rated,NaN,"Action, Crime",3.9,Richard Johnson,"Vonn Harris, \nGabriel Baez, \nJace Nicole, \n...",0.0,0,0,0,0.0,0.0,0
2010.0,Amaya,Not Rated,NaN,"Comedy, Drama, Romance",6.5,Maris Martinsons,"Kaori Momoi, \nAndrius Mamontovas, \nDan Lau, ...",0.0,0,0,0,0.0,0.0,0
2010.0,22nd of May,0,NaN,"Drama, Fantasy, Thriller",5.8,Koen Mortier,"Sam Louwyck, \nWim Willaert, \nSebastien Dewae...",0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015.0,Mojin: The Lost Legend,Not Rated,NaN,"Action, Adventure, Drama",5.9,Wuershan,"Kun Chen, \nBo Huang, \nShu Qi, \nAngelababy",1243810.0,0,0,0,0.0,0.0,0
2015.0,The Bigger Picture,0,NaN,"Drama, Mystery, Thriller",0.0,Alex Choonoo,"Victor Patrick Alvarez, \nDuane Cooper, \nLind...",0.0,0,0,0,0.0,0.0,0
2015.0,Sarah 2 (Le Pêché de la mère),0,NaN,Thriller,0.0,Samuel Vincent,"Glajimmy Chery, \nBlondedy Ferdinand, \nBenedi...",0.0,0,0,0,0.0,0.0,0
2015.0,Blame,0,0.0,"Biography, Crime, Drama",0.0,0,0,0.0,0,0,0,0.0,0.0,0
2015.0,Sicario,R,NaN,"Action, Crime, Drama",7.6,Denis Villeneuve,"Emily Blunt, \nJosh Brolin, \nBenicio Del Toro...",46889293.0,0,0,0,0.0,0.0,0

In [86]:
filtered_data_15_20 = IMDb_Movie_Dataset_df_clean.loc[2015:2020]
filtered_data_15_20

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
2015.0,Deng's Climb,0,NaN,"Biography, Drama",0.0,Guoxing Chen,"Qi Lu, \nMeijuan Xi, \nShujie Xue, \nYue Yu",0.0,0,0,0,0.0,0.0,0
2015.0,Sandro's Notebook,0,NaN,"Adventure, Biography, Drama",0.0,Matthew Toffolo,David Kinsman,0.0,0,0,0,0.0,0.0,0
2015.0,As if nothing had happened,0,NaN,"Biography, Drama, Romance",0.0,Gioacchino Palumbo,0,0.0,0,0,0,0.0,0.0,0
2015.0,Cervino - la montagna del mondo,0,NaN,"Adventure, History",9.2,Nicolò Bongiorno,"Roberto Anglisani, \nMarco Barmasse, \nNicolò ...",0.0,0,0,0,0.0,0.0,0
2015.0,Cicak-Man 3,0,NaN,"Action, Comedy, Sci-Fi",3.7,"Ghaz Abu Bakar, \nYusry Abd Halim","Zizan Razak, \nLisa Surihani, \nFizz Fairuz, \...",0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020.0,A Report on the Party and the Guests,0,NaN,Sci-Fi,4.5,Søren Peter Langkjær Bojsen,"Simon Bennebjerg, \nHjalte Birkemose, \nPeter ...",0.0,0,0,0,0.0,0.0,0
2020.0,Promising Young Woman,R,NaN,"Crime, Drama, Mystery",7.5,Emerald Fennell,"Carey Mulligan, \nBo Burnham, \nAlison Brie, \...",0.0,0,0,0,0.0,0.0,0
2020.0,Episodes Of,0,0.0,Biography,0.0,0,0,0.0,0,0,0,0.0,0.0,0
2020.0,The Official Kobruh Fandub,0,NaN,"Action, Adventure, Comedy",0.0,Cha,"Olive Basso, \nAudrey Beckman, \nCha, \nMilli Cul",0.0,0,0,0,0.0,0.0,0
2020.0,The Fallers,0,NaN,"Animation, Adventure, Drama",0.0,Farbod Ardebili,"Meixin Han, \nEmmett Hunter, \nKate McIntyre, ...",0.0,0,0,0,0.0,0.0,0

In [87]:
filtered_data_20_24 = IMDb_Movie_Dataset_df_clean.loc[2020:2024]
filtered_data_20_24

,title,license,runtime,genre,rating,director,star,gross,name,released,writer,budget,gross,company
year,,,,,,,,,,,,,,
2020.0,Cereal Killer,0,NaN,"Comedy, Crime, Drama",0.0,Marco WestWood Gonzalez,"Brandon Albrecht, \nAvan Ariy, \nEric Barajas,...",0.0,0,0,0,0.0,0.0,0
2020.0,Celestial Track of Peng Lai,0,NaN,Fantasy,0.0,Anthony Zhang,"Zheming Wei, \nJiawen Chen",0.0,0,0,0,0.0,0.0,0
2020.0,Nungambakkam,0,NaN,Crime,6.0,S.D. Ramesh Selvan,"Aayira, \nAjmal Ameer, \nMano, \nA. Venkatesh",0.0,0,0,0,0.0,0.0,0
2020.0,Ghost Cocaine: The Heist Before Christmas,Not Rated,NaN,Crime,0.0,"June Claman, \nIsaiah Freedman, \nRoy Freedman...",0,0.0,0,0,0,0.0,0.0,0
2020.0,Wesens,0,NaN,"Mystery, Sci-Fi",6.4,Derick Muller,"Pietie Beyers, \nRandy Januarie, \nAlbert Mari...",0.0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024.0,Twisters,0,0.0,"Action, Adventure",0.0,Lee Isaac Chung,0,0.0,0,0,0,0.0,0.0,0
2024.0,The Witches of the Sands,0,0.0,"Adventure, Comedy, Horror",0.0,Tony Mardon,"Tony Mardon, \nDebra Lamb, \nLinnea Quigley, \...",0.0,0,0,0,0.0,0.0,0
2024.0,Godzilla and Kong,0,0.0,"Action, Adventure",0.0,Adam Wingard,"Brian Tyree Henry, \nDan Stevens, \nRebecca Ha...",0.0,0,0,0,0.0,0.0,0
2024.0,Kung Fu Panda 4,0,0.0,"Animation, Action, Adventure",0.0,"Angelina Jolie, \nSeth Rogen, \nJackie Chan, \...",0,0.0,0,0,0,0.0,0.0,0
2024.0,Perfect,0,0.0,"Biography, Drama, Sport",0.0,Olivia Wilde,"Mckenna Grace, \nThomasin McKenzie",0.0,0,0,0,0.0,0.0,0